*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ESTILOS GERAIS */
/* ESTILOS GERAIS */
main, header, footer{
  width: 100%;
  overflow: hidden;
}

body{
  font-family: 'Source Sans Pro', sans-serif;}

section{
  margin-bottom: 20px;
}

img{
  width: 100%;
  height: 100%;
}

a{text-decoration: none;
  color: black;
}

p{padding-bottom: 10px;
}

ul{
  text-align: left;
  list-style-position: inside;
  padding-left: 10px;
}

h2,
h3,
h4,
h5{
  padding-bottom: 15px;
}

.container{
  max-width: 1024px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
/* flex box */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* fim flex box */

/* HEADER *//* HEADER *//* HEADER */
/* HEADER *//* HEADER *//* HEADER */
.header{
  background-color: #00cad1;}

.header .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo{
  min-width: fit-content;
  width: fit-content;
  height: 60px;
  margin: 0 auto;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.178);
}

.nav-item{
  color: #FFFFFF;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
  font-weight: 600;
  padding: 10px;
}

.nav-item:hover{
  color: #004b4c;
  text-shadow: none;
}


/* MAIN *//* MAIN *//* MAIN */
/* MAIN *//* MAIN *//* MAIN */

/* section banner */
.banner{
  background-image: url(../img/recepcao.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
}
.banner .container{
  /* altura = 50% da largura da tela */
  height: 50vw;
  display: flex;
  align-items: center;
}
.banner-title{
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.banner-title span{display: block;
}
/* fim section banner */

/* section sobre */
.img-conteudo img{
  display: none;
}
/* fim section sobre */

.conteudo{
  max-width: 600px;
  text-align: center;
  padding-bottom: 15px;
  margin: 0 auto;
}

.conteudo ul{
  width: fit-content;
  margin: 0 auto;
}

/* section especialidades */
.especialidades{text-align: center;
}

.galeria{
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.galeria figure{
  margin: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}
.galeria 
figure figcaption{
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: medium;
}

.especialidades .btn{
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #00cad1;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
  margin: 20px;
}
/* fim section especialidades */


/* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER */
.footer{
  background-color: #0d6e71;
  color: #FFFFFF;
  font-weight: 100;
}

  
/* @media - TABLET | LANDSCAPE */
/* @media - TABLET | LANDSCAPE */
@media screen and (min-width: 426px){
  /* HEADER */
  .header .container{
    flex-direction: row;
    justify-content: space-between;
  }
  .nav{
    justify-content: flex-end;
    border: none;
  }

  /* MAIN */
  .banner-title{
    font-size: 2.3rem;
  }
  .galeria figure{
    /* width: metade da tela menos margin da img */
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 769px) {
  /* HEADER */
  .nav-item{
    padding-left: 25px;
    padding-right: 25px;
  }

  /* MAIN */
  .banner-title{
    font-size: 2.5rem;
  }
  .img-conteudo .conteudo{
    margin: 0;
  }
  .img-conteudo img{
    display: block;
    width: auto;
    height: 250px;
    margin: 0;
  }
  .galeria figure{
    /* width: metade da tela menos margin da img */
    width: calc(100%/3 - 30px);
  }
}